<html>
  <body>
    <p>Sulle on tehtud kasutaja.</p>
    <p>Kasutaja aktiveerimiseks vajutage <a href="{{ activationLink }}">siia</a>.</p>
    <p>Sinu parool on: {{ password }}</p>
    <p>Sinu sisselogimise e-post on: {{ email }}</p>
  </body>
</html>
