<html>
  <body>
    <p>User has been created for you.</p>
    <p>To activate your user click <a href="{{ activationLink }}">here</a>.</p>
    <p>Your password is: {{ password }}</p>
    <p>Your login is: {{ email }}</p>
  </body>
</html>
